DATABASE_URL="mysql://username:password@localhost:3306/tefa"
DATABASE_USER="username" // [!code ++]
DATABASE_PASSWORD="password" // [!code ++]
DATABASE_NAME="tefa" // [!code ++]
DATABASE_HOST="localhost" // [!code ++]
DATABASE_PORT=3306 // [!code ++]